html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#main {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

#app {
  width: 100%;
  min-height: 100%;
  padding: 16px;
  box-sizing: border-box;
}

.center {
  position: relative;
  width: 100%;
  max-width: 100%;
  padding: 16px;
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 601px) {
  .center {
    align-items: flex-start;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media (max-width: 600px) {
  #app {
    padding: 8px;
  }
  
  .center {
    padding: 8px;
    min-height: calc(100vh - 16px);
  }
}